.action-remove {
	@size: 34px;

	width: @size;
	height: @size;
	background: @WARNING;
	border: none;
	border-radius: 50%;
	color: @LIGHT;

    &::before {
    	content: "X"; // ideally we'd go with a custom font and replace X with an icon character
		font-size: 21px;
	}
}

.button(@bg-color, @font-color) {
	background: @bg-color; // to overwrite everything, including background-image
	color: @font-color;
	text-shadow: none;
	border: none;

	&:focus, &:hover {
		background: lighten(@bg-color, 10%);
		color: @font-color;
	}
	&:active, &:active:focus {
		background: darken(@bg-color, 10%);
		color: @font-color;
	}
	fieldset[disabled] & {
 		// for a full-fledged app we'd also add respective rules for button itself being disabled
		&, &:hover, &:active {
			background: desaturate(@bg-color, 30%);
			color: @font-color;
		}
	}
}

.btn-primary {
	.button(@ACTION_PRIMARY, @LIGHT);
}

.btn-default {
	.button(@ACTION_DEFAULT, @LIGHT);
}
