@LIGHT: #FFFFFF;
@DARK: #000000;

@BAR_COLOR_0: #5AB858;
@BAR_COLOR_1: #54C1E1;
@BAR_COLOR_2: #F2AE43;
@BAR_COLOR_3: #AE43F2;
@BAR_COLOR_4: #AEF243;
@BAR_COLOR_5: #B85A58;
@BAR_COLOR_6: #585AB8;
@BAR_COLOR_7: #E13441;
