// color definitions

// we could consider adding prefixes to colors, but in this projects other variables will be either local or named very explicitly

@BACKDROP: #E6E6E6;
@BACKGROUND: #FFFFFF;
@SEPARATOR: #E7E7E7;

@BAR_COLORS: #5AB858, #54C1E1, #F2AE43, #AE43F2, #AEF243, #B85A58, #585AB8, #E13441;

@ACTION_PRIMARY: #58B857;
@ACTION_DEFAULT: #3FA9F5;

@WARNING: #DB524C;

@DEEMPHASIZED: #989898; // based on colorpicker value from the mock; usually font colors should be provided explicitly, due to font aliasing and thus lack of precision for colorpicker on small fonts;
