.right {
	float: right;
}

.left { 
	float: left;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.screen-reader-helper { // long-term solution a shorter name should be agreed on, but that'll work better to describe the usage in this sample
	position: absolute;
	left: -99999px;
}

.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
