.bar-value {
	height: 20px;
    background: red;
}

.error {
	display: none;
}

.has-error {
	.error {
		display: block;
	}
}


.bar-color-0 {
	background-color: @BAR_COLOR_0;
}
.bar-color-1 {
	background-color: @BAR_COLOR_1;
}
.bar-color-2 {
	background-color: @BAR_COLOR_2;
}
.bar-color-3 {
	background-color: @BAR_COLOR_3;
}
.bar-color-4 {
	background-color: @BAR_COLOR_4;
}
.bar-color-5 {
	background-color: @BAR_COLOR_5;
}
.bar-color-6 {
	background-color: @BAR_COLOR_6;
}
.bar-color-7 {
	background-color: @BAR_COLOR_7;
}
