html, body {
	background-color: @BACKDROP;
    height: 100%;
}

.page-container {
    padding: 20px;
    min-height: 100%;
	width: 90%;
	margin: auto;
	background-color: @BACKGROUND;
}

.bar-value {
	height: 20px;
}

.error {
	display: none;
}

.has-error {
	.error {
		display: block;
	}
}

.actions {
	display: inline-block;
    vertical-align: bottom;
}
