<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<title>Sample app</title>
		<link rel="stylesheet" type="text/css" href="styles/css/style.css">

		<script type="text/javascript" src="js/libs/lodash.min.js"></script>
		<script type="text/javascript" src="js/libs/angular/angular.min.js"></script>
		
		<script type="text/javascript" src="js/app/app.js"></script>
		<script type="text/javascript" src="js/app/values/config.js"></script>
		<script type="text/javascript" src="js/app/services/data.js"></script>

	</head>
	<body ng-app="SampleApp" ng-controller="SampleAppController" ng-init="init();">
		<div class="page-container">
			<header>
				<h1>Windows generator</h1>
				<h2 class="screen-reader-helper">Main controls</h2>
				<fieldset class="actions">
					<button class="btn btn-primary" ng-click="addDataset();">Add window</button>
					<button class="btn btn-default" ng-click="outputDatasets();">Get data</button>
				</fieldset>
			</header>
			<main>
				<section class="data-manager">
					<h2 class="screen-reader-helper">Data manager</h2>
					<fieldset class="row" ng-repeat="dataset in model.datasets">
						<div class="col-sm-3">
							<!-- depending on the expected flexibility for the final solution we could move field names, amounts and types to a JSON config and build the form based on it -->
							<label for="window-name-{{$index}}">Window name</label>
							<input id="window-name-{{$index}}" type="text" class="form-control" ng-model="dataset.name" />
						</div>
						<div class="col-sm-3" ng-class="{'has-error': !checkValidDateFormat(dataset.startDate)}"> <!-- for larger apps working with has-error directly is really inefficient, and it's better to build a component that cover the most frequent uses of error display -->
							<label for="start-date-{{$index}}">Start date</label>
							<input id="start-date-{{$index}}" type="text" class="form-control" ng-model="dataset.startDate" ng-change="calculateMax();" />
							<div class="help-block error">
								Invalid date format
							</div>
						</div>
						<div class="col-sm-3" ng-class="{'has-error': !checkValidDateFormat(dataset.endDate)}">
							<label for="end-date-{{$index}}">End date</label>
							<input id="end-date-{{$index}}" type="text" class="form-control" ng-model="dataset.endDate" ng-change="calculateMax();" />
							<div class="help-block error">
								Invalid date format
							</div>
						</div>
						<div class="col-sm-3">
							<label for="remove-{{$index}}">&nbsp;</label>
							<div>
								<button ng-click="removeDataset($index);calculateMax();" class="action-remove"><span class="screen-reader-helper">Remove window</span></button><!-- depending on the prupose of the app, very often a confirmation dialog would be used before actually deleting a row -->
							</div>
						</div>
					</fieldset>
				</section>
				<section class="bars">
					<div ng-repeat="dataset in model.datasets">
						<h2 class="screen-reader-helper">Results</h2>
						<span class="bar-label">{{dataset.name || 'Unnamed'}}</span>
						<div class="bar-container">
							<div class="bar-value" ng-class="'bar-color-' + ($index % 8 + 1)" ng-style="{width: calculatePercent(dataset)}">
								<span class="screen-reader-helper">{{calculatePercent(dataset)}}</span>
							</div>
						</div>
					</div>
				</section>
			</main>
			<footer>Made by Arek Bisaga</footer>
		</div>
	</body>
</html>
